.contenedor {
    height: 80vh;
    padding: 1%;

  }

  .lado-izquierdo{
    background:linear-gradient(135deg, #cbcdd7, #21a9af);
   
    padding-top: 10%;
    border-top-left-radius: 340px; 
    border-top-right-radius: 340px;
    border: 0.8px solid rgb(248, 248, 245);
    
  }
  .ventanas{

    padding-bottom: 10%;
    background-color: black;
    margin: 4%;
    border-top-left-radius: 400px; 
    border-top-right-radius: 400px;
  }

  .contenedor-asientos{

    max-height: 300px; /* ajusta esta altura según tus necesidades */
    overflow-y: auto;
    padding: 3%;
    margin-left: 3% !important;

    display: grid;
	  grid-template-rows: 1fr 1fr 1fr;

  }

  .primera-clase{

    display: grid;
	  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  }

  .premium{

    display: grid;
	  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  }

  .basico{

    display: grid;
	  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  }
 

  .asientos{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin: 1%;
    padding: 5%;
    border-radius: 5px;
    cursor: pointer;

  }

  .no-disponible {
    pointer-events: none;
    
  }

  
  .no-disponible span {
    color: red;
    font-weight: bold;

    
  }

  .asientos img{
    max-width: 100%; 
    height: auto;
  }

  .asientos:hover{
    transform: scale(1.1) 
  }

  .seleccionado {
    transform: scale(0.9); 
    border: 2px solid black
  }
  
  
  .clase-primera-clase{
    background:linear-gradient(135deg, #ebef79, #a3af21);

  }

  .clase-premium{
    background:linear-gradient(135deg, #798fef, #21a9af);

  }

  .lado-derecho {
    border-radius: 4%;
    display: grid;
	  grid-template-rows: 3fr 1fr;
    padding: 0% !important;
   

  }
  
  .imagen img{

    height: 100%;
    width: 100%;
    max-width: 100%;
    height: auto; 
    border-radius:4%;
       
  }

  .informacion-asiento{

    padding: 4%;
    display: grid;
  	grid-template-columns: 1fr 2fr;

  }

  .info{
    font-family:'Source Sans Pro', sans-serif;
    display: flex;
	  flex-direction: column;
	  flex-wrap: nowrap;
	  justify-content: center;
	  align-items: stretch;
	  align-content: stretch;
    font-weight: bold;
    color: aliceblue;

  }

  .contenedor-boton{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;

  }

  .contenedor-boton a{
    
    display: none;
    margin: 1%;
  }
  

.modal-body {

 
}

.modal {
  background-color: rgba(rgba(248, 244, 244, 0.4)) !important;
}