.tabla-vuelo {

    width: 100%;
    border-collapse: collapse;

  }
  .tabla-vuelo th, .tabla-vuelo td {
    border: 1px solid black;
    padding: 8px;
    
    
  }
  .tabla-vuelo th {
    background-color: #1E7D9A;
    color: white;
  }
  .tabla-vuelo .origen {
    background-color: #66B2FF;
  }
  .tabla-vuelo .encabezado {
    background-color: #1E7D9A;
    color: white;
  }

  .btn-comprar{
    background-color: #209CA9; /* Color del botón */
      border: none;
      border-radius: 10px;
      color: white; /* Color del texto */
      padding: 20px 25px;
      text-align: right;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      transition-duration: 0.4s;
  }


  .btn-comprar:hover{
    background-color: #1D7396;
  }