.contenedor {
  
  height: 80vh;
  display: grid;
	grid-template-rows: 3fr 2fr;
  color: rgb(255, 255, 255);
}


 .contenedor1{

  display: grid;
	grid-template-rows: 2fr 1fr;
  
 
}

.contenedor .info{

  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}


.contenedor2{

  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}